<ion-content>
  <div class="body flex-center">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10" class="logo">
          <img src="assets/img/ferremas_logo-2.svg" alt="Ferremas_logo" width="100%">
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="5" class="spinner">
          <img src="assets/gif/loader-men.gif" alt="Ferremas_logo" width="100%">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

