.body{
    background-color: rgb(39, 39, 39);
    background-image: url("../../../assets/img/background2.png");
    background-repeat: repeat;
}

h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
